Current turn: Player <%=@game.player_turn%><br>
Player 1 (<%=@game.player1.name%>): <%=@game.player1.hp%>HP<br> 
Player 2 (<%=@game.player2.name%>): <%=@game.player2.hp%>HP

<a href="/attack">Attack</a>